.cell{
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid green;
}
.board{
    border: 1px solid green;
}
.row{
    height: 25px;
}
.snake{
    background-color: black;
}
.food{
    background-color: brown;
}
/* .mobileBtn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.btnUp{
    margin-bottom: .5rem;
}
.btnDown{
    margin-top: .5rem;
}
.btnLeft{
    transform: translateX(-50%);
}
.btnRight{
    transform: translateX(50%);
}
.btnUp,.btnLeft,.btnDown,.btnRight{
    padding: .6rem .9rem;
} */
/* @media (min-width : 700px) {
    .mobileBtn{
        display: none;
    }
} */

@media (max-width : 550px) {
    .cell{
        width: 17px;
        height: 17px;
    }
    .row{
        height: 17px;
    }
    .board{
        border: none;
    }
    
}
@media (max-width : 350px) {
    .cell{
        width: 13px;
        height: 13px;
    }
    .row{
        height: 13px;
    }
    
    
}